<% provide(:todo,'Post') %>
<% provide(:pageinfo,'New Post') %>
<div class="row">
<div class="col-md-offset-3 col-md-7 col-lg-offset-3 col-lg-7 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
<h3 style="color: #2E2649; text-decoration: underline; text-align: center;">New Post</h3>

<%= render 'form', micropost: @micropost %>



</div>
</div>