
<div class="container-fluid">
<div class="footer">

	 
		<div class="footer-back">
			
			<ul class="footer-list">
			<div class="row">
			<p style="color: white">Quick Links</p>
			</div>
			<legend style="margin-left: -38px; width: 120%;"></legend>
			<div class="row">

			<div class="col-md-3">	<li><a href="#">View Result</a></li></div>
			<div class="col-md-3">	<li><a href="#">My Inbox</a></li></div>
			<div class="col-md-3">	<li><a href="#">Register</a></li></div>
			<div class="col-md-3">	<li><a href="#">Forum</a></li></div>
			</div>

			<div class="row">
			
			<div class="col-md-3">	<li><a href="#">JSS Library</a></li></div>
			<div class="col-md-3">	<li><a href="#">JSS Website</a></li></div>
			<div class="col-md-3">	<li><a href="#">JSS STEP</a></li></div>
			<div class="col-md-3">	<li><a href="#">UPTU Website</a></li></div>
			</div>

			<div class="row">
				<div class="col-md-3">	<li><a href="#">Old Question Paper</a></li></div>
				<div class="col-md-3">	<li><a href="#">JSS Mailbox</a></li></div>
				<div class="col-md-3">	<li><a href="#">Nibble Website</a></li></div>
				<div class="col-md-3">	<li><a href="#">Other Societies</a></li></div>
			</div>

			<div class="row">
				<div class="col-md-3">	<li><a href="#">Computer Science & Engineering</a></li></div>
				<div class="col-md-3">	<li><a href="#">Electrical Engineering</a></li></div>
				<div class="col-md-3">	<li><a href="#">Electronics & Communication Engineering</a></li></div>
				<div class="col-md-3">	<li><a href="#">Mechanical Engineering</a></li></div>
			</div>

			
			</ul>
			
			<div class="row" style="background-color: #2D2251; margin-left: 0px; height: 38px; margin-right: 0px !important;">
			<p></p>
			<a href= "#" style="color: gold; text-decoration: none; margin-left: 30px;">Nibble Computer Society </a>
			
			</div>
		
		</div>

		
</div>
</div>
